* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #FFFFFF url('assets/background.png') no-repeat fixed;
  background-size: cover;
  text-decoration: none;
  color: antiquewhite;
}

#app {
  display: flex;
  justify-content: center;
  height: 100vh;
}

#app #content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer {
  height: 5vh;
  position: absolute; 
  bottom: 0px;
}
