* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  display: flex;
  justify-content: center;
  height: 100vh;
}

#app #content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer {
  height: 5vh;
  position: absolute; 
  bottom: 0px;
}
